In [12]:
import pandas as pd
import requests
import json

In [13]:
df = pd.read_csv('../data/movie_data6.csv')
df.head()

,title,time,time_label,rating,rating_label,year,year_label,popularity,genre,genres,plot,tags,nouns,id,poster_url
0,Top Gun: Maverick,131,mid,8.6,high,2022,new,152.108,Action,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...","['years', 'service', 'aviators', 'envelope', '...",361743,https://image.tmdb.org/t/p/original/62HCnUTziy...
1,Jurassic World Dominion,147,long,6.0,mid,2022,new,159.870,Action,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...","['years', 'destruction', 'dinosaurs', 'hunt', ...",507086,https://image.tmdb.org/t/p/original/kAVRgw7GgK...
2,Top Gun,110,mid,6.9,mid,1986,old,64.946,Action,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...","['students', 'fighter', 'weapons', 'school', '...",744,https://image.tmdb.org/t/p/original/xUuHj3CgmZ...
3,Lightyear,105,mid,5.2,mid,2022,new,59.065,Animation,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...","['years', 'army', 'robots', 'fuel', 'source']",718789,https://image.tmdb.org/t/p/original/b9t3w1lora...
4,Spiderhead,106,mid,5.4,mid,2022,new,27.121,Action,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...","['future', 'convicts', 'chance', 'subjects', '...",615469,https://image.tmdb.org/t/p/original/5hTK0J9SGP...

In [14]:
len(df)

22050

In [15]:
df.drop_duplicates('id', inplace = True)

In [16]:
len(df)

21627

In [17]:
df.drop_duplicates('title', inplace = True)

In [18]:
len(df)

21627

In [19]:
df.to_csv('../data/movie_data7.csv', index = False)

In [20]:
df2 = pd.read_csv('../data/movie_data7.csv')
df2.head()